/**
 * tag based selectors
 */
body { color:#666; background-color:#666; font:normal 100% Tahoma, Geneva, sans-serif; }
h1,h2,h3,#copyright { text-shadow:0px 1px 0px #FFF; }
a { color:#666; text-decoration:none; font-weight:bold; }
a:hover { color:#000; border-top:0 none; }

/**
 *	Site wide padding
 */
#header,#content,#footer { padding:40px; }
#header h1 { padding:40px 0; }

/**
 * id based selectors
 */
#pagewrap { background-color:#EEE; width:940px; }
#header { background-color:#DDD; }
#logo { margin-right:40px; /*display:block;*/ }
#header h1 { display:none; }
#navigation { background-color:#EEE; }
#content { background-color:#EEE; }
#footer { background-color:#DDD; }
#mobilenav select { border-radius:5px; }
#navigation ul { padding:10px 20px; }
#content h2 { border-bottom:1px solid #DDDDDD; margin-bottom:20px; }

/**
 * class based selectors
 */
.menu-item { background-color:#DDD; }
.menu-item:hover,.menu-item.active { background-color:#CCC; }
.menu-item a { padding:10px 25px; line-height:20px; text-shadow:0px 1px 0px rgba(255,255,255,.5); border-bottom:1px solid rgba(0,0,0,.05); border-top:1px solid #FFF; }
.menu-item a:hover,.menu-item.active a { color:#AAAAAA; border-bottom:1px solid #FFF; border-top:1px solid rgba(0,0,0,.05); }
.menu-item,.menu-item a { border-radius:40px; overflow:hidden; }
.menu-item:not(:last-child) { margin-right:10px; }
.slogan-text { /*float:left;*/ }
.search-field { float:right; }
.field-label { font-weight:bold; }

/**
 * CSS 3 transitions & gradients
 */
a {
transition:color .3s ease;
-webkit-transition:color .3s ease;
-moz-transition:color .3s ease;
-o-transition:color .3s ease;
}
#header {
background-image:linear-gradient(to bottom, #EEE 0%, #DDD 100%);
background-image:gradient(linear, to bottom, #EEE 0%, #DDD 100%);
background-image:-webkit-gradient(linear, to bottom, #EEE 0%, #DDD 100%);
background-image:-moz-linear-gradient(to bottom, #EEE 0%, #DDD 100%);
background-image:-o-linear-gradient(to bottom, #EEE 0%, #DDD 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD');
}
#navigation {
background-image:linear-gradient(to bottom, #CCC 0%, #DDD 50%);
background-image:gradient(linear, to bottom, #CCC 0%, #DDD 50%);
background-image:-webkit-gradient(linear, to bottom, #CCC 0%, #DDD 50%);
background-image:-moz-linear-gradient(to bottom, #CCC 0%, #DDD 50%);
background-image:-o-linear-gradient(to bottom, #CCC 0%, #DDD 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#DDD');
}
#footer {
background-image:linear-gradient(to bottom, #DDD 0%, #CCC 50%);
background-image:gradient(linear, to bottom, #DDD 0%, #CCC 50%);
background-image:-webkit-gradient(linear, to bottom, #DDD 0%, #CCC 50%);
background-image:-moz-linear-gradient(to bottom, #DDD 0%, #CCC 50%);
background-image:-o-linear-gradient(to bottom, #DDD 0%, #CCC 50%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDD', endColorstr='#CCC');
}
.menu-item {
background-image:linear-gradient(to bottom, #EEE 0%, #CCC 100%);
background-image:gradient(linear, to bottom, #EEE 0%, #CCC 100%);
background-image:-webkit-gradient(linear, to bottom, #EEE 0%, #CCC 100%);
background-image:-moz-linear-gradient(to bottom, #EEE 0%, #CCC 100%);
background-image:-o-linear-gradient(to bottom, #EEE 0%, #CCC 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}
.menu-item:hover,.menu-item.active {
background-image:linear-gradient(to bottom, #CCC 0%, #EEE 70%);
background-image:gradient(linear, to bottom, #CCC 0%, #EEE 70%);
background-image:-webkit-gradient(linear, to bottom, #CCC 0%, #EEE 70%);
background-image:-moz-linear-gradient(to bottom, #CCC 0%, #EEE 70%);
background-image:-o-linear-gradient(to bottom, #CCC 0%, #EEE 70%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#EEE');
}