@charset "utf-8";

body { font:normal 100%; color:#666; margin:0; padding:0; border:0 none; }
h1,h2,h3,h4,h5,p,ul,li,#pagewrap,#nav { margin:0; padding:0; }

#pagewrap { margin:0 auto; }
#logo img { width:150px; }
#mobilenav { display:none; padding:10px; }
#copyright { float:right; }

#mobilenav select { width:100%; height:30px; }
#navigation ul { list-style:none; display:inline-block; }

.menu-item { float:left; }
.menu-item a { display:block; }

/**
 * misc classes
 */
.hidden { display:none; }
.clear { clear:both; }
