/**
 * Responsive Theme
 */

/* Tablet Browser */
@media only screen and (max-width: 940px) {
	#pagewrap { width:auto !important; }
}
/* Mobile Browser */
@media only screen and (max-width: 767px) {
	#navigation ul { display:none; }
	#mobilenav { display:block; }
	#header,#footer { text-align:center; }
	#copyright { float:none !important; }
	.slogan-text { float:none !important; }
	.search-field { float:none !important; clear:both;	}
}